---
layout: default
title: Home
---

<section id="home" class="hero">
  <h1>Shared Minds Lab</h1>
  <p>Department of Psychology  |  University of Southern California</p>

  <div class="cta-banner">
    <a href="#join">We are recruiting PhD students to start in Fall 2026!</a>
  </div>
</section>

<section id="research">
  <h2>Research</h2>
  <p><b>“How do individual brains converge on a shared understanding of the world?” // “How do we use language to transmit our thoughts from one brain to another?” // “How do we coordinate our own behavior with the actions of others?”</b> The <b><span style="color: #990000;">Shared Minds Lab</span></b> aims to understand how our brains communicate, cooperate, and ultimately coordinate our collective behavior in real-world contexts. Our work combines elements of ecological psychology, deep learning, and cognitive neuroscience to explore how we become aligned.</p>

<div class="more-container">
  <a href="#" class="more-button">Learn more →</a>
</div>

</section>

<section id="people">
  <h2>People</h2>
  <div class="people-grid">
    {% for person in site.data.people limit:2 %}
      <div class="person-card">
        <h3>{{ person.name }}</h3>
        {% if person.investigator %}<div><b>{{ person.investigator }}</b>{% endif %}
          {% if person.email %}
            <a href="mailto:{{ person.email }}" target="_blank" class="person-badge">email</a>
          {% endif %}
          {% if person.website %}
            <a href="{{ person.website }}" target="_blank" class="person-badge">website</a>
          {% endif %}
        </div>
        <!-- <div>{{ person.title }}</div> -->
        <!-- {% if person.email %}<div>{{ person.email }}</div>{% endif %} -->
        <div>{{ person.shortbio }}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section id="publications">
  <h2>Publications</h2>
  <div class="publications-grid">
    {% for pub in site.data.publications limit:3 %}
      <div class="publication-card">
        <h3>{{ pub.title }}</h3>
        <p class="pub-reference">
		  {{ pub.reference | markdownify | remove: '<p>' | remove: '</p>' }}
            <a href="{{ pub.doi }}" target="_blank" class="pub-badge">DOI</a>
            <a href="{{ pub.pdf }}" target="_blank" class="pub-badge">PDF</a>
        </p>
      </div>
    {% endfor %}
  </div>

<div class="more-container">
  <a href="{{ '/publications' | relative_url }}" class="more-button">More publications →</a>
</div>

</section>

<section id="join">
  <h1>Join</h1>
  <p>We welcome inquiries from prospective graduate students, postdocs, and undergraduate researchers interested in our work.</p>
</section>

<section id="contact">
  <h1>Contact</h1>
  <div><b>PI: Samuel A. Nastase</b></div>
  <div>Email: <a href="mailto:snastase@usc.edu">snastase@usc.edu</a></div>
  <div>Office: SGM 1016</div><br>
  <div>University of Southern California</div>
  <div>Department of Psychology</div>
  <div>3620 McClintock Avenue</div>
  <div>Los Angeles, CA 90089</div>
</section>


